.container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    border: solid 2px black;
}

.kartya {
    border: solid 2px black;

}

.darabszam {
    text-align: center;
}

.szamlalo {
    text-align: center;
}

@media screen and (max-width: 580px) {
    .container {
       grid-template-columns: 1fr 1fr;
    }
  }
@media screen and (max-width: 380px) {
    .container {
       grid-template-columns: 1fr;
    }
  }